.App {
  text-align: center;
}
.font-xl{
  font-size: 100px
}
.font-s{
  font-size: 25px
}
.gray{
  color: gray
}
.float-left{
  float: left;
}
.float-right{
  float: right
}
.p-75{
  padding: 75px
}
.p-r-60{
  padding-right: 60px
}
.p-r-50{
  padding-right: 50px
}
.m-t-50{
  margin-top: 50px
}
